html {
  background: #efe7dc;
}

body {
  margin: 0;
  min-height: 100vh;
  background: #efe7dc;
  color: #151515;
  font-family: "Segoe UI", sans-serif;
}

* {
  box-sizing: border-box;
}

h1,
h2,
h3,
p,
dl,
dd,
dt,
ul,
li {
  margin-top: 0;
}
